<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidhuman.example.simplegithub"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 새로 작성한 SimpleGithubApp 클래스를 어플리케이션 클래스로 등록하기 위해 매니페스트의 네임을 설정 -->
    <application
        android:name=".SimpleGithubApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.main.MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".presentation.signin.SignInActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="authorize"
                    android:scheme="simplegithub" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.search.SearchActivity"
            android:label="@string/search"
            android:parentActivityName=".presentation.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidhuman.example.simplegithub.presentation.main.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.repo.RepositoryActivity"
            android:label="@string/view_repository"
            android:parentActivityName=".presentation.main.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidhuman.example.simplegithub.presentation.main.MainActivity" />
        </activity>
    </application>

</manifest>